:root {
  /* bright colors */
  --color1: #f886a8;
  --color2: #fea992ef;
  --color3: #a07364;
  --color4: #ffee8ce4;
  --color5: #b6eff283;
  --color6: #9adbc5;
  /* contrast colors */
  --color2c: #924f3d;
  --color3c: #4f3f37;
  --color4c: #b9b731;
  --color7c: #699dcb;
}
body {
  background-color: var(--color5);
  font-family: "Alumni Sans Pinstripe", sans-serif;
  color: var(--color7c);
}
h2 {
  font-size: 2.3rem;
  font-weight: 400;
}
h3 {
  font-size: 1.3rem;
  font-family: "Barlow", sans-serif;
}

p {
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.4rem;
}
.page-padding {
  margin-block: 20%;
  padding-block: 4%;
}

.header-title {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  width: 100%;
}
.img1-box {
  width: fit-content;
  height: fit-content;

  align-self: center;
  padding: 1%;
}

header {
  background-color: var(--color4);
  color: var(--color7c);
  padding-block: 1%;
  width: 100%;
  align-items: center;
}
footer {
  border-top: 0.2rem solid #4f3f37;
}
nav ul li {
  font-size: 1.4rem;
}
nav ul li a {
  color: var(--color7c);
}

nav ul li a:hover {
  color: aliceblue;
}
nav ul {
  list-style: none;
}
nav {
  padding-inline: 3%;
}

.invisible-box-for-space {
  background-color: transparent;
  width: 100px;
  height: 100px;
  padding: 1%;
}
.abstract-face-trio {
  justify-content: space-around;
}

.section-space {
  padding: 5%;
  margin-block: 3rem;
}

.hero-section {
  background-image: url("./img/brush-hero.jpeg");
  background-size: cover;
  height: fit-content;
  align-content: center;
  row-gap: 4rem;
  justify-content: center;
  padding-inline: 2rem;
  padding-block: 3rem;
}
.hero-section-message-box {
  background-color: transparent;
  color: aliceblue;
  padding: 3rem;
  backdrop-filter: blur(1px);
  height: fit-content;
  width: 95%;
  border-radius: 1.25rem;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}
.hero-contact-link {
  border-radius: 1rem;
  color: var(--color7c);
  height: fit-content;
  text-decoration: none;
}
.hero-h1 {
  color: aliceblue;
  font-family: "Barlow", sans-serif;
  font-size: 4.2rem;
  font-weight: 800;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.hero-text {
  flex-direction: column;
  align-items: center;
}
.wheel-circle-box {
  width: 25rem;
  height: 25rem;
  padding: 1rem;
  align-self: center;
  justify-self: center;
}

.color-wheel {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./img/colorWheelSVG.svg");
  background-repeat: no-repeat;
  animation-name: clockwise;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: cover;
}
.color-wheel-brush {
  animation: counter-clockwise 20s infinite linear;
  position: absolute;
  margin-block: auto;
  content: "🖌️";
  top: 38%;
  left: 39%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
}
.lead {
  font-weight: 900;
  font-size: 1.6rem;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes counter-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.whatIsFigure {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 5vh;
  margin-bottom: 10vh;
}
.whatIsFigure img {
  width: 100%;
  background-size: cover;
  filter: blur(3px);
  opacity: 65%;
}

.figureText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  font-weight: 900 italic;
  color: var(--color4);
}

@media (min-width: 768px) {
  .hero-section-message-box {
    flex-direction: row;
  }

  .wheel-circle-box {
    flex-direction: row;
  }
}
